{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css\\style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css\\cham.css' %}">
    <link rel="stylesheet" href="{% static 'css\\cart_total.css' %}">
    <link rel="stylesheet" href="{% static 'css\\cart_detail_shop.css' %}">
    <link rel="stylesheet" href="{% static 'css\\product_detail_e.css' %}">
    <link rel="stylesheet" href="{% static 'css\\classement.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foot Insider</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}" style="font-weight: bold;">Foot Insider</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Actualites <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'championship_list' %}">Classement</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'product_list' %}">Boutique</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
              
              <li class="nav-item ms-auto">
                <a class="nav-link nav-cart" href="{% url 'cart_detail' %}">Panier<i class="fa-solid fa-cart-shopping"></i></a>
              </li>
            {% if user.is_authenticated %}
            <li class="nav-item ms-auto">
              <span class="nav-link nav-user">{{ user.username }}<i class="fa-solid fa-user"></i></span>
            </li>
            <li class="nav-item">
              <a href="{% url 'logout' %}" class="nav-link nav-cart">Déconnexion<i class="fas fa-sign-out"></i></a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link nav-cart" href="{% url 'login' %}">Connexion</a>
            </li>
            <li class="nav-link nav-cart">
              <a class="nav-link nav-cart" href="{% url 'signup' %}">Inscriptions</a>
            </li>
            {% endif %}
              </li>        
          </ul>
        </div>
      </nav>
      {% block content %}



      {% endblock %}
</body>
</html>