{% extends "soccer\\base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css\\style.css' %}">

<div class="player-list">
    {% for product in products %}
    <div class="player-item">
        <a href="{% url 'player_detail' slug=product.slug %}">
            {% if product.thumbnail %}
            <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" class="player-photo">
            {% endif %}

        </a>
            <span class="player-name">{{ product.name }}</span>
    </div>
    {% endfor %}
</div>

<header>
    <div class="container">
        {% for image in extra_images %}
        <div class="card">
            <div class="content-container">
                <h1 class="title">{{ image.title }}</h1>
                <p class="description">{{ image.descriptions }}</p>
            </div>
            <div class="image-container">
                <img src="{{ image.image.url }}" alt="{{ image.title }}" class="image-left">
            </div>
        </div>
        <div>
            <p style="opacity: 0.7; text-align: right; padding-top: 5px;">A l'instant</p>
        </div>
        {% endfor %}
        </div>
</header>

{% endblock %}
 