{% extends "soccer\\base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css\\contact.css' %}">

<header>
    <div class="contact-form-container">
        <h2>Contactez-nous</h2>
        <hr>
        <form action="" method="POST" class="contact-form">
        {% csrf_token %}
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" id="name" name="name" placeholder="votre nom" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="votre email" required>
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea type="text" id="message" rows="5" name="message" placeholder="Ecrivez votre message ici..." required></textarea>
            </div>
            <button type="submit" class="btn">Envoyer</button>

        </form>
    </div>
</header>
{% endblock %}
