.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    table-layout: auto;
}

.styled-table th, .styled-table td {
    padding: 8px 10px;
    text-align: center;
    width: 15%;
    font-size: 14px;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}