header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.contact-form-container {
    background-color: #fff;
    padding: 20px, 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.contact-form-container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
.contact-form .form-group {
    margin-bottom: 15px;
}
.contact-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;

}
.contact-form .form-group input, 
.contact-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.contact-form .form-group input:focus, 
.contact-form .form-group textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgb(0, 123, 255, 0.5);
}
.contact-form .btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3 ease;
    font-weight: bold;
}
.contact-form .btn:hover {
    background-color: #0056b3;
}

hr {
    width: 80px;
    height: 6px;
    background: #0056b3;
    border-radius: 25px;
    margin-left: 39%;
    margin-top: 10px;
    border: 0;
}