<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\\confirmation.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>verification</title>
</head>
<body>
    <div class="confirmation-container">
        <div class="confirmation-box">
            <i class="fas fa-check-circle"></i>
            <h2>OUPS !</h2>
            <p>Information incorrect ! Veillez revoir votre nom d'utilisateur ou votre mot de passe</p>
            <a href="{% url 'signup' %}" class="btn">Retour a la page de connexion</a>
        </div>
    </div>
</body>
</html>
